
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&family=Tilt+Warp&display=swap');

body{
    background-color: black;
    color: white;
}

#img{

        filter: brightness(120%);
        filter: contrast(120%);
        filter: drop-shadow(12px 12px 12px rgb(42, 43, 42));

}

#Title{

    font-size: 40px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
    background: linear-gradient( to right, #eb1f1f, #0876ff, #692edd, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

